*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# ai agent local config
/.agents/
/.agy/
/.amp/
/.augment/
/.auggie/
/.bob/
/.claude/
/.codebuddy/
/.codex/
/.cursor/
/.devin/
/.forge/
/.gemini/
/.github/
/.github/agents/
/.github/prompts/
/.github/skills/
/.goose/
/.iflow/
/.junie/
/.kilocode/
/.kimi/
/.myagent/
/.vscode/
